USE [Test]
GO
/****** Object:  Table [dbo].[ActionInfo]    Script Date: 2019/7/9 22:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActionInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ActionType] [nvarchar](256) NOT NULL,
	[ActionName] [nvarchar](max) NOT NULL,
	[Url] [nvarchar](512) NOT NULL,
	[HttpMethod] [nvarchar](512) NOT NULL,
	[SubTime] [datetime] NOT NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_ActionInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CmdInfo]    Script Date: 2019/7/9 22:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CmdInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeviceRealId] [nvarchar](256) NOT NULL,
	[CmdCode] [tinyint] NOT NULL,
	[CmdData] [bigint] NULL,
	[CmdState] [nvarchar](128) NOT NULL,
	[SubTime] [datetime] NOT NULL,
 CONSTRAINT [PK_CmdInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceInfo]    Script Date: 2019/7/9 22:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeviceId] [nvarchar](256) NOT NULL,
	[DeviceRealId] [nvarchar](128) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[SubTime] [datetime] NOT NULL,
 CONSTRAINT [PK_DeviceInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceParameterInfo]    Script Date: 2019/7/9 22:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceParameterInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NowOutput] [int] NULL,
	[TargetOutput] [int] NULL,
	[SingleProgress] [smallint] NULL,
	[StatusFlag] [nvarchar](256) NOT NULL,
	[StartTime] [datetime] NULL,
	[StopTime] [datetime] NULL,
	[SubTime] [datetime] NOT NULL,
	[DeviceInfoId] [int] NOT NULL,
 CONSTRAINT [PK_DeviceParameterInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupInfo]    Script Date: 2019/7/9 22:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GName] [nvarchar](256) NULL,
	[IsDeleted] [bit] NOT NULL,
	[SubTime] [datetime] NOT NULL,
 CONSTRAINT [PK_GroupInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OperationLog]    Script Date: 2019/7/9 22:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperationLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UName] [nvarchar](256) NOT NULL,
	[ActionType] [nvarchar](256) NOT NULL,
	[ActionName] [nvarchar](256) NOT NULL,
	[OperationObj] [nvarchar](max) NOT NULL,
	[Ip] [nvarchar](max) NOT NULL,
	[Mac] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[SubTime] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[R_GroupInfo_DeviceInfo]    Script Date: 2019/7/9 22:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[R_GroupInfo_DeviceInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GroupInfoId] [int] NOT NULL,
	[DeviceInfoId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_R_GroupInfo_DeviceInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[R_RoleInfo_ActionInfo]    Script Date: 2019/7/9 22:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[R_RoleInfo_ActionInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleInfoId] [int] NOT NULL,
	[ActionInfoId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_R_RoleInfo_ActionInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[R_UserInfo_RoleInfo]    Script Date: 2019/7/9 22:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[R_UserInfo_RoleInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserInfoId] [int] NOT NULL,
	[RoleInfoId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_R_UserInfo_RoleInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleInfo]    Script Date: 2019/7/9 22:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](32) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Remark] [nvarchar](64) NULL,
	[SubTime] [datetime] NOT NULL,
 CONSTRAINT [PK_RoleInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeamInfo]    Script Date: 2019/7/9 22:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TName] [nvarchar](256) NULL,
	[StartTime] [time](7) NULL,
	[StopTime] [time](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[SubTime] [datetime] NOT NULL,
 CONSTRAINT [PK_TeamInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 2019/7/9 22:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UCode] [nvarchar](32) NOT NULL,
	[UName] [nvarchar](32) NULL,
	[Pwd] [nvarchar](64) NOT NULL,
	[StatusFlag] [bit] NOT NULL,
	[Remark] [nvarchar](256) NULL,
	[Gender] [nvarchar](64) NULL,
	[Picture] [nvarchar](512) NULL,
	[Phone] [nvarchar](256) NULL,
	[Email] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[SubTime] [datetime] NOT NULL,
	[TeamInfoId] [int] NOT NULL,
	[GroupInfoId] [int] NOT NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarningInfo]    Script Date: 2019/7/9 22:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarningInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeviceId] [nvarchar](256) NOT NULL,
	[WarningMessage] [nvarchar](256) NOT NULL,
	[StartTime] [datetime] NULL,
	[StopTime] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[SubTime] [datetime] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ActionInfo] ON 

INSERT [dbo].[ActionInfo] ([Id], [ActionType], [ActionName], [Url], [HttpMethod], [SubTime], [IsDeleted]) VALUES (1, N'设备管理', N'查看设备', N'/Device/Delete', N'POST', CAST(N'2018-12-17T11:15:18.000' AS DateTime), NULL)
INSERT [dbo].[ActionInfo] ([Id], [ActionType], [ActionName], [Url], [HttpMethod], [SubTime], [IsDeleted]) VALUES (2, N'设备管理', N'删除设备', N'/Device/IsLayeradddevice', N'GET', CAST(N'2018-12-17T15:18:16.000' AS DateTime), NULL)
INSERT [dbo].[ActionInfo] ([Id], [ActionType], [ActionName], [Url], [HttpMethod], [SubTime], [IsDeleted]) VALUES (3, N'设备管理', N'添加设备', N'/Device/Devicedetail', N'GET', CAST(N'2018-12-17T15:18:16.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[ActionInfo] OFF
SET IDENTITY_INSERT [dbo].[DeviceInfo] ON 

INSERT [dbo].[DeviceInfo] ([Id], [DeviceId], [DeviceRealId], [IsDeleted], [SubTime]) VALUES (1007, N'0001', N'1', 0, CAST(N'2019-01-19T19:20:00.033' AS DateTime))
INSERT [dbo].[DeviceInfo] ([Id], [DeviceId], [DeviceRealId], [IsDeleted], [SubTime]) VALUES (1008, N'0002', N'1', 0, CAST(N'2019-01-19T19:22:14.100' AS DateTime))
INSERT [dbo].[DeviceInfo] ([Id], [DeviceId], [DeviceRealId], [IsDeleted], [SubTime]) VALUES (1009, N'0003', N'1', 0, CAST(N'2019-01-19T19:24:31.497' AS DateTime))
SET IDENTITY_INSERT [dbo].[DeviceInfo] OFF
SET IDENTITY_INSERT [dbo].[DeviceParameterInfo] ON 

INSERT [dbo].[DeviceParameterInfo] ([Id], [NowOutput], [TargetOutput], [SingleProgress], [StatusFlag], [StartTime], [StopTime], [SubTime], [DeviceInfoId]) VALUES (1014, NULL, 100, 0, N'运行中', CAST(N'2019-01-19T19:20:01.380' AS DateTime), NULL, CAST(N'2019-01-19T19:20:01.380' AS DateTime), 1007)
INSERT [dbo].[DeviceParameterInfo] ([Id], [NowOutput], [TargetOutput], [SingleProgress], [StatusFlag], [StartTime], [StopTime], [SubTime], [DeviceInfoId]) VALUES (1015, 5, 100, 20, N'运行中', NULL, NULL, CAST(N'2019-03-22T19:20:54.657' AS DateTime), 1007)
INSERT [dbo].[DeviceParameterInfo] ([Id], [NowOutput], [TargetOutput], [SingleProgress], [StatusFlag], [StartTime], [StopTime], [SubTime], [DeviceInfoId]) VALUES (1016, 32, 100, 56, N'运行中', NULL, NULL, CAST(N'2019-03-22T19:21:17.293' AS DateTime), 1007)
SET IDENTITY_INSERT [dbo].[DeviceParameterInfo] OFF
SET IDENTITY_INSERT [dbo].[GroupInfo] ON 

INSERT [dbo].[GroupInfo] ([Id], [GName], [IsDeleted], [SubTime]) VALUES (1, N'未设置', 0, CAST(N'2019-01-06T12:15:19.000' AS DateTime))
INSERT [dbo].[GroupInfo] ([Id], [GName], [IsDeleted], [SubTime]) VALUES (1005, N'1组', 0, CAST(N'2019-01-19T19:03:38.700' AS DateTime))
INSERT [dbo].[GroupInfo] ([Id], [GName], [IsDeleted], [SubTime]) VALUES (1006, N'2组', 0, CAST(N'2019-01-19T19:03:43.387' AS DateTime))
SET IDENTITY_INSERT [dbo].[GroupInfo] OFF
SET IDENTITY_INSERT [dbo].[OperationLog] ON 

INSERT [dbo].[OperationLog] ([Id], [UName], [ActionType], [ActionName], [OperationObj], [Ip], [Mac], [IsDeleted], [SubTime]) VALUES (6065, N'admin', N'系统管理', N'添加员工', N'老张', N'::1', N'28-D2-44-94-A8-A1', 0, CAST(N'2019-01-19T19:28:16.987' AS DateTime))
INSERT [dbo].[OperationLog] ([Id], [UName], [ActionType], [ActionName], [OperationObj], [Ip], [Mac], [IsDeleted], [SubTime]) VALUES (6066, N'admin', N'系统管理', N'添加员工', N'老王', N'::1', N'28-D2-44-94-A8-A1', 0, CAST(N'2019-01-19T19:28:28.940' AS DateTime))
INSERT [dbo].[OperationLog] ([Id], [UName], [ActionType], [ActionName], [OperationObj], [Ip], [Mac], [IsDeleted], [SubTime]) VALUES (6084, N'admin', N'设备管理', N'查看设备', N'0001', N'::1', N'28-D2-44-94-A8-A1', 0, CAST(N'2019-01-19T19:55:02.063' AS DateTime))
SET IDENTITY_INSERT [dbo].[OperationLog] OFF
SET IDENTITY_INSERT [dbo].[R_GroupInfo_DeviceInfo] ON 

INSERT [dbo].[R_GroupInfo_DeviceInfo] ([Id], [GroupInfoId], [DeviceInfoId], [IsDeleted]) VALUES (1011, 1005, 1007, 0)
INSERT [dbo].[R_GroupInfo_DeviceInfo] ([Id], [GroupInfoId], [DeviceInfoId], [IsDeleted]) VALUES (1012, 1005, 1008, 0)
INSERT [dbo].[R_GroupInfo_DeviceInfo] ([Id], [GroupInfoId], [DeviceInfoId], [IsDeleted]) VALUES (1013, 1005, 1009, 0)
SET IDENTITY_INSERT [dbo].[R_GroupInfo_DeviceInfo] OFF
SET IDENTITY_INSERT [dbo].[R_RoleInfo_ActionInfo] ON 

INSERT [dbo].[R_RoleInfo_ActionInfo] ([Id], [RoleInfoId], [ActionInfoId], [IsDeleted]) VALUES (2499, 1, 1, 0)
INSERT [dbo].[R_RoleInfo_ActionInfo] ([Id], [RoleInfoId], [ActionInfoId], [IsDeleted]) VALUES (2500, 1, 2, 0)
INSERT [dbo].[R_RoleInfo_ActionInfo] ([Id], [RoleInfoId], [ActionInfoId], [IsDeleted]) VALUES (2501, 1, 3, 0)
SET IDENTITY_INSERT [dbo].[R_RoleInfo_ActionInfo] OFF
SET IDENTITY_INSERT [dbo].[R_UserInfo_RoleInfo] ON 

INSERT [dbo].[R_UserInfo_RoleInfo] ([Id], [UserInfoId], [RoleInfoId], [IsDeleted]) VALUES (1, 1, 1, 0)
INSERT [dbo].[R_UserInfo_RoleInfo] ([Id], [UserInfoId], [RoleInfoId], [IsDeleted]) VALUES (3016, 2037, 3, 0)
INSERT [dbo].[R_UserInfo_RoleInfo] ([Id], [UserInfoId], [RoleInfoId], [IsDeleted]) VALUES (3017, 2038, 3, 0)
SET IDENTITY_INSERT [dbo].[R_UserInfo_RoleInfo] OFF
SET IDENTITY_INSERT [dbo].[RoleInfo] ON 

INSERT [dbo].[RoleInfo] ([Id], [RoleName], [IsDeleted], [Remark], [SubTime]) VALUES (1, N'超级管理员', 0, NULL, CAST(N'2018-12-17T11:15:16.000' AS DateTime))
INSERT [dbo].[RoleInfo] ([Id], [RoleName], [IsDeleted], [Remark], [SubTime]) VALUES (2, N'组长', 0, NULL, CAST(N'2018-12-17T15:16:18.000' AS DateTime))
INSERT [dbo].[RoleInfo] ([Id], [RoleName], [IsDeleted], [Remark], [SubTime]) VALUES (3, N'操作工', 0, NULL, CAST(N'2018-12-17T15:18:19.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[RoleInfo] OFF
SET IDENTITY_INSERT [dbo].[TeamInfo] ON 

INSERT [dbo].[TeamInfo] ([Id], [TName], [StartTime], [StopTime], [IsDeleted], [SubTime]) VALUES (1, N'未设置', NULL, NULL, 0, CAST(N'2019-01-05T15:15:16.000' AS DateTime))
INSERT [dbo].[TeamInfo] ([Id], [TName], [StartTime], [StopTime], [IsDeleted], [SubTime]) VALUES (8, N'A班', CAST(N'00:00:00' AS Time), CAST(N'05:04:00' AS Time), 0, CAST(N'2019-01-21T19:15:02.703' AS DateTime))
INSERT [dbo].[TeamInfo] ([Id], [TName], [StartTime], [StopTime], [IsDeleted], [SubTime]) VALUES (9, N'B班', CAST(N'12:00:00' AS Time), CAST(N'16:00:00' AS Time), 0, CAST(N'2019-01-19T19:02:49.590' AS DateTime))
SET IDENTITY_INSERT [dbo].[TeamInfo] OFF
SET IDENTITY_INSERT [dbo].[UserInfo] ON 

INSERT [dbo].[UserInfo] ([Id], [UCode], [UName], [Pwd], [StatusFlag], [Remark], [Gender], [Picture], [Phone], [Email], [IsDeleted], [SubTime], [TeamInfoId], [GroupInfoId]) VALUES (1, N'000', N'admin', N'202cb962ac59075b964b07152d234b70', 1, N'', N'男', N'/UploadFiles/UploadImgs/3e3a8040-71a2-428a-b6c5-476567f0053d-AVATAR.jpg', N'', N'', 0, CAST(N'2019-06-20T11:02:22.377' AS DateTime), 1, 1)
INSERT [dbo].[UserInfo] ([Id], [UCode], [UName], [Pwd], [StatusFlag], [Remark], [Gender], [Picture], [Phone], [Email], [IsDeleted], [SubTime], [TeamInfoId], [GroupInfoId]) VALUES (2037, N'002', N'test', N'202cb962ac59075b964b07152d234b70', 1, NULL, NULL, NULL, N'13826804690', NULL, 0, CAST(N'2019-01-19T19:28:16.737' AS DateTime), 8, 1005)
INSERT [dbo].[UserInfo] ([Id], [UCode], [UName], [Pwd], [StatusFlag], [Remark], [Gender], [Picture], [Phone], [Email], [IsDeleted], [SubTime], [TeamInfoId], [GroupInfoId]) VALUES (2038, N'003', N'老王', N'202cb962ac59075b964b07152d234b70', 1, NULL, NULL, NULL, N' ', NULL, 0, CAST(N'2019-01-19T19:28:28.850' AS DateTime), 9, 1006)
SET IDENTITY_INSERT [dbo].[UserInfo] OFF
SET IDENTITY_INSERT [dbo].[WarningInfo] ON 

INSERT [dbo].[WarningInfo] ([Id], [DeviceId], [WarningMessage], [StartTime], [StopTime], [IsDeleted], [SubTime]) VALUES (2006, N'0002', N'伺服报警', CAST(N'2019-01-19T19:24:06.967' AS DateTime), NULL, 0, CAST(N'2019-01-19T19:24:06.967' AS DateTime))
INSERT [dbo].[WarningInfo] ([Id], [DeviceId], [WarningMessage], [StartTime], [StopTime], [IsDeleted], [SubTime]) VALUES (2009, N'0002', N'伺服报警', NULL, NULL, 0, CAST(N'2019-01-21T15:18:15.000' AS DateTime))
INSERT [dbo].[WarningInfo] ([Id], [DeviceId], [WarningMessage], [StartTime], [StopTime], [IsDeleted], [SubTime]) VALUES (2011, N'0003', N'伺服报警', NULL, NULL, 0, CAST(N'2019-01-21T15:15:15.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[WarningInfo] OFF
ALTER TABLE [dbo].[DeviceParameterInfo]  WITH CHECK ADD  CONSTRAINT [FK_DeviceInfoDeviceParameterInfo] FOREIGN KEY([DeviceInfoId])
REFERENCES [dbo].[DeviceInfo] ([Id])
GO
ALTER TABLE [dbo].[DeviceParameterInfo] CHECK CONSTRAINT [FK_DeviceInfoDeviceParameterInfo]
GO
ALTER TABLE [dbo].[R_GroupInfo_DeviceInfo]  WITH CHECK ADD  CONSTRAINT [FK_GroupInfoR_GroupInfo_DeviceInfo] FOREIGN KEY([GroupInfoId])
REFERENCES [dbo].[GroupInfo] ([Id])
GO
ALTER TABLE [dbo].[R_GroupInfo_DeviceInfo] CHECK CONSTRAINT [FK_GroupInfoR_GroupInfo_DeviceInfo]
GO
ALTER TABLE [dbo].[R_GroupInfo_DeviceInfo]  WITH CHECK ADD  CONSTRAINT [FK_R_GroupInfo_DeviceInfoDeviceInfo] FOREIGN KEY([DeviceInfoId])
REFERENCES [dbo].[DeviceInfo] ([Id])
GO
ALTER TABLE [dbo].[R_GroupInfo_DeviceInfo] CHECK CONSTRAINT [FK_R_GroupInfo_DeviceInfoDeviceInfo]
GO
ALTER TABLE [dbo].[R_RoleInfo_ActionInfo]  WITH CHECK ADD  CONSTRAINT [FK_R_RoleInfo_ActionInfoActionInfo] FOREIGN KEY([ActionInfoId])
REFERENCES [dbo].[ActionInfo] ([Id])
GO
ALTER TABLE [dbo].[R_RoleInfo_ActionInfo] CHECK CONSTRAINT [FK_R_RoleInfo_ActionInfoActionInfo]
GO
ALTER TABLE [dbo].[R_RoleInfo_ActionInfo]  WITH CHECK ADD  CONSTRAINT [FK_RoleInfoR_RoleInfo_ActionInfo] FOREIGN KEY([RoleInfoId])
REFERENCES [dbo].[RoleInfo] ([Id])
GO
ALTER TABLE [dbo].[R_RoleInfo_ActionInfo] CHECK CONSTRAINT [FK_RoleInfoR_RoleInfo_ActionInfo]
GO
ALTER TABLE [dbo].[R_UserInfo_RoleInfo]  WITH CHECK ADD  CONSTRAINT [FK_RoleInfoR_UserInfo_RoleInfo] FOREIGN KEY([RoleInfoId])
REFERENCES [dbo].[RoleInfo] ([Id])
GO
ALTER TABLE [dbo].[R_UserInfo_RoleInfo] CHECK CONSTRAINT [FK_RoleInfoR_UserInfo_RoleInfo]
GO
ALTER TABLE [dbo].[R_UserInfo_RoleInfo]  WITH CHECK ADD  CONSTRAINT [FK_UserInfoR_UserInfo_RoleInfo] FOREIGN KEY([UserInfoId])
REFERENCES [dbo].[UserInfo] ([Id])
GO
ALTER TABLE [dbo].[R_UserInfo_RoleInfo] CHECK CONSTRAINT [FK_UserInfoR_UserInfo_RoleInfo]
GO
ALTER TABLE [dbo].[UserInfo]  WITH CHECK ADD  CONSTRAINT [FK_GroupInfoUserInfo] FOREIGN KEY([GroupInfoId])
REFERENCES [dbo].[GroupInfo] ([Id])
GO
ALTER TABLE [dbo].[UserInfo] CHECK CONSTRAINT [FK_GroupInfoUserInfo]
GO
ALTER TABLE [dbo].[UserInfo]  WITH NOCHECK ADD  CONSTRAINT [FK_TeamInfoUserInfo] FOREIGN KEY([TeamInfoId])
REFERENCES [dbo].[TeamInfo] ([Id])
GO
ALTER TABLE [dbo].[UserInfo] CHECK CONSTRAINT [FK_TeamInfoUserInfo]
GO
