/*
    bootstrap扩展
*/
.btn-glove { 
    color: #ffffff; 
    background-color: #E92322; 
    border-color: #DB3B43; 
  } 
   
  .btn-glove:hover, 
  .btn-glove:focus, 
  .btn-glove:active, 
  .btn-glove.active, 
  .open .dropdown-toggle.btn-glove { 
    color: #ffffff; 
    background-color: #E92322; 
    border-color: #DB3B43; 
  } 
   
  .btn-glove:active, 
  .btn-glove.active, 
  .open .dropdown-toggle.btn-glove { 
    background-image: none; 
  } 
   
  .btn-glove.disabled, 
  .btn-glove[disabled], 
  fieldset[disabled] .btn-glove, 
  .btn-glove.disabled:hover, 
  .btn-glove[disabled]:hover, 
  fieldset[disabled] .btn-glove:hover, 
  .btn-glove.disabled:focus, 
  .btn-glove[disabled]:focus, 
  fieldset[disabled] .btn-glove:focus, 
  .btn-glove.disabled:active, 
  .btn-glove[disabled]:active, 
  fieldset[disabled] .btn-glove:active, 
  .btn-glove.disabled.active, 
  .btn-glove[disabled].active, 
  fieldset[disabled] .btn-glove.active { 
    background-color: #E92322; 
    border-color: #DB3B43; 
  } 
   
.btn-glove .badge { 
    color: #E92322; 
    background-color: #ffffff; 
}

.navbar-glove {
    background-color: #393d49;
    border: none; 
    padding: 0 30px 0 10px;/*自己添加的*/
}
.navbar-glove .navbar-brand {
    color: #777;
    height: 70px;
}
.navbar-glove .navbar-brand:hover,
.navbar-glove .navbar-brand:focus {
color: #5e5e5e;
background-color: transparent;
}
.navbar-glove .navbar-text {
color: #777;
}
.navbar-glove .navbar-nav > li > a {
color: #ddd;
line-height: 40px;
font-size: 20px;
}
.navbar-glove .navbar-nav > li > a:hover,
.navbar-glove .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
    border-bottom: 1px solid #fff;
}

    .navbar-glove .navbar-nav > li .red {
        color: #F00;
    }

.navbar-glove .navbar-nav > .active > a,
.navbar-glove .navbar-nav > .active > a:hover,
.navbar-glove .navbar-nav > .active > a:focus {
    color: #555;
    background-color: transparent;
    border-bottom: 2px solid #e92322;
}
.navbar-glove .navbar-nav > .disabled > a,
.navbar-glove .navbar-nav > .disabled > a:hover,
.navbar-glove .navbar-nav > .disabled > a:focus {
color: #ccc;
background-color: transparent;
}
.navbar-glove .navbar-toggle {
    border-color: #ddd;
    margin-top: 23px;
    margin-bottom: 23px;
}
.navbar-glove .navbar-toggle:hover,
.navbar-glove .navbar-toggle:focus {
background-color: #ddd;
}
.navbar-glove .navbar-toggle .icon-bar {
background-color: #FFF;
}
.navbar-glove .navbar-collapse,
.navbar-glove .navbar-form {
border-color: #e7e7e7;
}
.navbar-glove .navbar-nav > .open > a,
.navbar-glove .navbar-nav > .open > a:hover,
.navbar-glove .navbar-nav > .open > a:focus {
color: #555;
background-color: #e7e7e7;
}
@media (max-width: 767px) {
.navbar-glove .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
}
.navbar-glove .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-glove .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
}
.navbar-glove .navbar-nav .open .dropdown-menu > .active > a,
.navbar-glove .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-glove .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
.navbar-glove .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar-glove .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar-glove .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}
}
.navbar-glove .navbar-link {
color: #777;
}
.navbar-glove .navbar-link:hover {
color: #333;
}
.navbar-glove .btn-link {
color: #777;
}
.navbar-glove .btn-link:hover,
.navbar-glove .btn-link:focus {
color: #333;
}
.navbar-glove .btn-link[disabled]:hover,
fieldset[disabled] .navbar-glove .btn-link:hover,
.navbar-glove .btn-link[disabled]:focus,
fieldset[disabled] .navbar-glove .btn-link:focus {
color: #ccc;
}
/*
    公共样式
*/
body {
    font-family: Microsoft Yahei; /*此处应该有很多备用字体以防万一*/
    background-color: #eaeaea;
    min-width: 1200px;
}

/*字体图标设置 字体图标就是制作一种字体但都是图标 优点：容量小 矢量 可以改变颜色大小*/
@font-face{
    font-family: 'iconfont';/*自己定义一个名为 iconfont 的字体*/
    src:url('../font/iconfont/iconfont.eot');
    src: url('../font/iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont/iconfont.woff') format('woff'),
    url('../font/iconfont/iconfont.ttf') format('truetype'),
    url('../font/iconfont/iconfont.svg') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:24px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.icon-navigation{
    font-size: 30px;
    color: #fff;
    float: right;
    vertical-align:middle;
}
.icon-telephone{
    font-size: 20px;
    color: #fff; 
    vertical-align:middle;
}
.icon-vline{
    font-size: 28px;
    color: #fff; 
    vertical-align:middle;
}
.icon-bell{
    font-size: 24px;
    color: #fff;
    vertical-align:middle;
}
.icon-user{
    font-size: 24px;
    color: #fff;
    vertical-align:middle;
}
.icon-user:hover {
    font-size: 24px;
    color: #fff;
    vertical-align: middle;
}
.icon-machine {
    font-size: 23px;
    color: #fff;
    vertical-align: middle;
}
.icon-class {
    font-size: 24px;
    color: #fff;
    vertical-align: middle;
}
.icon-alarm {
    font-size: 24px;
    color: #fff;
    vertical-align: middle;
}
.icon-gear {
    font-size: 24px;
    color: #fff;
    vertical-align: middle;
}
.icon-aside-top-user {
    font-size: 50px;
    color: #fff;
    vertical-align: middle;
}
.icon-add{
    font-size: 20px;
    color: #fff; 
    vertical-align:middle;
}
.icon-delete{
    font-size: 18px;
    color: #fff; 
    vertical-align:middle;
}
.icon-modify{
    font-size: 20px;
    color: #fff; 
    vertical-align:middle;
}
.icon-seek{
    font-size: 18px;
    color: #fff; 
    vertical-align:middle;
}
/*
    头部区域
*/
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color: #393d49;
    z-index: 3100; /*最高*/
}
#header .topbar-left{
    vertical-align:middle; 
    padding: 10px 0;
}
#header .topbar-left__alignmen{
    vertical-align:middle;  
}
#header .topbar-left .topbar-left__font-size-l{
    font-size: 22px;
    color: #FFFFFF; 
    font-weight: bold;
    vertical-align:middle;
}
#header .topbar-middle{
    font-size: 14px;
    color: #FFFFFF; 
    padding: 0 0 0 30px;   
}
#header .topbar-middle__alignment{
    vertical-align:middle;
}
#header .topbar-middle img{
    display: none;
    position: absolute;
    margin-left: -5px;
    top: 46px;
    z-index: 2000;
}
#header .topbar-middle__link:hover  img{
    display: block;
}
#aside .aside-top {
    position: fixed;
    left: 0;
    top: 71px;
    height: 99px;
    width: 200px;
    background-color: #393d49;
    color: #fff;
    line-height: 100px;
    vertical-align: middle;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    float: left;
    z-index: 3100; /*最高*/
}
#aside .aside-top__username{
    font-size:22px;
}
/*#aside .aside-top__usericon{
    float:left;
    width:75px;
    border:none;
}*/
#aside .layui-nav {
    z-index: 3100; /*最高*/
}
.layui-nav-side {
    top: 170px;
}
#aside .layui-nav-tree .layui-nav-child a:hover{
    text-decoration:none;
}
#aside .layui-nav-tree .layui-nav-item a {
    text-decoration:none;
}
#main {
    position: relative;
    top: 70px;
    left:200px;
    height:100%;
    width: calc(100% - 200px); /*使用calc计算属性的时候 运算符(- +等等)两边必须有空格 */
}
#main .navigation {
    position: absolute;
    top: 0px;
    left: 0px;
    /*    position: relative;
top: 0px;
margin-left:200px;
margin-top:70px;  */
    width: 100%;
    /*width:calc(100% - 200px);/*使用calc计算属性的时候 运算符(- +等等)两边必须有空格 */
    height: 50px;
    border-bottom: 1px solid #999;
}
#main .layui-breadcrumb{
    margin: 0px 20px;
    line-height: 50px;
}
#main .layui-breadcrumb a{
    font-size: 20px;
    color:#999;
    text-decoration:none;
    vertical-align:middle;
}
#main .layui-breadcrumb span[lay-separator] {
    margin: 0 14px;
    color: #999;
    font-size:16px;
    vertical-align:middle;
}
#main .button {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    padding-left: 10px;
}
#main .button .layui-btn {
    padding: 0;
    font-size: 14px;
    margin: 0 10px;
}
#main .select {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    padding-left: 10px;
}
#main .table {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 100%;
    padding: 0px 20px;
}
#main .table .table-title {
    position: absolute;
    top: 15px;
    left: 40px;
    width: 200px;
    font-size: 30px;
    z-index: 3000;
}
#main .user-form-border {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    padding: 10px 15px;
}
#main .user-form-title {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    background-color: #fff;
    font-size: 20px;
    line-height: 40px;
    vertical-align: middle;
    padding-left: 20px;
    border-bottom: 0.5px solid #009688;
}
#main .user-form {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    padding:20px 30px;
    background-color: #fff;
}
#main .user-form-tip {
    position: relative;
    float: left;
    display: block;
    padding: 9px 0px !important;
    line-height: 20px;
    margin-right: 10px;
    color: #999;
}
#main .layui-input-block {
    position: relative;
    float: left;
    width: 300px; /*右边的框*/
    margin-left: 0px;
    margin-right: 10px;
    display: block;
    vertical-align: middle;
}
#main .layui-input-textarea {
    position: relative;
    float: left;
    width: 600px; /*右边的框*/
    margin-left: 0px;
    margin-right: 10px;
    display: block;
    vertical-align: middle;
}
#main .layui-input-button {
    margin-left:110px;
}
#main .user-form-btn-container {
    display: block;
    float: left;
    vertical-align: middle;
    line-height: 60px;
    margin-left: 20px;
}




        /*#main .table .layer {
    display: none;
    position: fixed;
    top: 20%;
    left: 40%;
    margin: auto;
    height: 450px;
    width: 700px;
    background-color: #fff;
    padding: 10px 20px;
    z-index: 3001;
}
#main .table .layer .layui-form-label {
    width: 100px;
}
#main .table .layer .layer-top {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #eee;
    font-size: 20px;
    width: inherit;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    line-height: 40px;
}
#main .table .layer .layer-content {
    position: absolute;
    top: 40px;
    left: 0px;
    width: inherit;
    padding: 10px 20px;
}*/

.uploadfile{
    background-color: #FFF;
}



#footer {
    position: fixed;
    left: 200px;
    right: 0;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    background-color: #393d49;
    color: #fff;
    border-left: 1px solid #999;
    z-index: 3100;
}

/*layui table 按钮禁用*/
.a_disabled {
    pointer-events: none;
}
/*进度条相关样式 加粗一点 颜色与layui统一*/
#nprogress .bar {
    background: #009688;
    z-index: 14000;
    height: 3px;
}
#nprogress .peg {
    box-shadow: 0 0 10px #009688, 0 0 5px #009688;
}
#nprogress .spinner {
    z-index: 14000;
}
#nprogress .spinner-icon {
    border-top-color: #009688;
    border-left-color: #009688;
}
.red::-webkit-input-placeholder {/*placeholder的颜色  可能会有兼容性问题*/
    /* placeholder颜色  */
    color: #f00;
}
/*放置鼠标放置出现下划线*/
.layui-nav-item-no {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    line-height: 70px;
}
.layui-nav-bar,
.layui-nav .layui-this:after,
.layui-nav-tree .layui-nav-itemed:after {
    height: 3px;
}

#main .table-left {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 20%;
    padding: 0px 0px 0px 20px;
}
#main .table-right {
    position: absolute;
    top: 50px;
    left: 20%;
    width: 80%;
   
    padding: 0px 100px 50px 0px;
}
#main .table-right .table-title {
    position: absolute;
    top: 17px;
    left: 40px;
    width: 200px;
    font-size: 26px;
    z-index: 3000;
}

#main .table-left #group-tree {
    position: absolute;
    top: 8px;
}
.hide {
    display:none;
}
/** 树组件（重写中） **/
.layui-tree1 li a cite {
    padding: 0 8px;
    font-size: 16px;
    font-style: normal;
}
.layui-tree1 li ul {
    display: none;
    margin-left: 30px;
}


/*首页*/
#main .home {
    position: absolute;
    top: 50px;
    left: 0px;
    bottom: 0px; /*强行占满高度*/
    width: 100%;
    height: 100%;
}

#main .home .left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40%;
    height: 92%;
    font-size: 20px;
}

#main .home .left-top {
    position: absolute;
    margin:5%;
    width: 90%;
    height: 40%;
    text-align: center;
  
}

#main .home #left-top-pie {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 30px;
    background-color: #fff;
}

#main .home .left-buttom {
    position: absolute;
    top: 50%;
    margin:5%;
    width: 90%;
    height: 40%;
    text-align: center;

}
    #main .home #left-buttom-pie {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 30px;
        background-color: #fff;
    }


#main .home .middle {
    position: absolute;
    top: 0;
    left: 40%;
    width: 60%;
    height: 97%;
    font-size: 20px;
    text-align: center;
    background-color: #fff;
}
#main .home .middle #glove-total {
    position:absolute;
    width: 100%;
    height: 90%;
    top: 10%;
}

#main .home .middle p{
    color:#000;
}

/*导航栏-右边*/
.nav li a{
    padding: 15px 0;
}
/*汉堡菜单*/
.navbar-glove .navbar-toggle{
    margin-top:15px;
    margin-bottom:15px;
}
@media screen and (max-width: 768px) {
    .layui-nav-side {
        top: 70px;
        border-top: #fff 1px solid;
    }
    .layui-nav-tree {
        width: 120px;
    }
    #main {
        left: 120px;
        width: calc(100% - 120px); /*使用calc计算属性的时候 运算符(- +等等)两边必须有空格 */
    }
    .layui-nav .layui-nav-item dl dd a {
        font-size: 12px;
    }
    .layui-nav-tree .layui-nav-child a {
        height: 30px;
        line-height: 30px;
    }
    .layui-nav .layui-nav-item dl dd a {
    }
    #footer {
        left: 120px;
    }
}
@media screen and (min-width: 768px) {
    .layui-col-sm-offset0 {
        margin-left: 0;
    }
}
/*#table-line {
position: absolute;
top: 350px;
left: 200px;
width: 100%;
font-size: 36px;
text-align: center;
}*/