@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Glove Machine IoT</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <link href="~/Content/DH/lib/NProgress/nprogress.css" rel="stylesheet" />
    <link href="~/Content/DH/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/DH/css/mainUI.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Content/DH/img/favicon.ico" type="image/x-icon" />
    <style>
        .content-right {
            border: #ccc solid 1px;
            background-color: #fff;
        }
        .content-right-top {
            height: 150px;
            vertical-align: middle;
            line-height: 150px;
            font-size: 24px;
            padding-left: 20px;
        }

        .content-right-bottom {
            margin-top: 50px;
            border-top: solid #ccc 1px;
            height: 100px;
        }

        .layui-input, .layui-textarea {
            width: 70%; /*右边的框*/
        }

        .layui-form-label {
            width: 60px; /*左边的字*/
        }

        button {
            border: 0;
        }

        body {
            min-height: 800px;
        }
        .nameerror {
            position: absolute;
            top: 150px;
            left: 195px;
            height: 38px;
            width: 130px;
            line-height: 38px;
            text-align: center;
            vertical-align: middle;
            color: #f00;
            display: none;
        }
        .pwderror {
            position: absolute;
            top: 215px;
            left: 205px;
            height: 38px;
            width: 120px;
            line-height: 38px;
            text-align:center;
            vertical-align: middle;
            color: #f00;
            display:none;
        }
        .vcodeerror {
            position: absolute;
            top: 278px;
            left: 138px;
            height: 38px;
            width: 75px;
            line-height: 38px;
            text-align: center;
            vertical-align: middle;
            color: #f00;
            display: none;
        }
    </style>
    <script src="~/Content/DH/lib/NProgress/nprogress.js"></script>
</head>
<body>
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-md4 layui-col-md-offset2" id="left">
                <p style="color:#000; font-size:34px; font-weight:bold; text-align:center;">金隆物联网控制平台</p>
                <p style="color:#666; font-size:18px; text-align:center;">Jinglong Cloud IOT Platform(JCIP V1.0)</p>
                <div style="text-align:center;"><img src="~/Content/DH/img/手套机2.jpg" width="350" height="400" /></div>
            </div>
            <div class="layui-col-md4" id="right">
                <div class="content-right">
                    <div class="content-right-top">
                        <p>欢迎登录</p>
                    </div>
                    <div class="layui-form" lay-filter="userAdd">
                        <div class="layui-form-item">
                            <label class="layui-form-label"><i class="layui-icon layui-icon-username" style="font-size: 30px; color: #009688;"></i></label>
                            <input type="text" name="LoginCode" required lay-verify="required" placeholder="用户名" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label"><i class="layui-icon layui-icon-password" style="font-size: 30px; color: #009688;"></i></label>
                            <input type="password" name="LoginPwd" required lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label"><i class="layui-icon layui-icon-vercode" style="font-size: 30px; color: #009688;"></i></label>
                            <input type="text" name="vCode" required lay-verify="required" placeholder="验证码" autocomplete="off" class="layui-input" style="width:40%;display: inline;">
                            <a href="javascript:void(0)" onclick="changeCheckCode();return false;"><img id="imgCode" src="/UserLogin/ShowVCode?id=2" width="100" height="35" /></a>
                        </div>
                        <div style="text-align:center; padding:0px 60px;">
                            <button name="登录" class="layui-btn layui-btn-normal layui-btn-fluid" style="font-size:20px;">登录</button>
                        </div>
                    </div>
                    <div class="nameerror">
                        <p>请输入正确的用户名</p>
                    </div>
                    <div class="pwderror">
                        <p>账号或者密码错误</p>
                    </div>
                    <div class="vcodeerror">
                        <p>验证码错误</p>
                    </div>
                    <div class="content-right-bottom">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/DH/lib/layui/layui.all.min.js"></script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="detail ">查看</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script src="~/Content/DH/js/3.js"></script>
    <script>
        $('input[name="LoginCode"]').focus(function () {
            $('input[name="LoginCode"]').removeClass("red");
            $('input[name="LoginCode"]').attr('placeholder', '用户名');
        })
        $('input[name="LoginPwd"]').focus(function () {
            $('input[name="LoginPwd"]').removeClass("red");
            $('input[name="LoginPwd"]').attr('placeholder', '密码');
            $(".pwderror").hide();   
        })
        $('input[name="vCode"]').focus(function () {
            $('input[name="vCode"]').removeClass("red");
            $('input[name="vCode"]').attr('placeholder', '验证码');
            $(".vcodeerror").hide();        
        })
        //回车登录
        $(document).keydown(function (event) {
            if (event.which === 13) {
                send();
            }
        });
        //上下居中  适配页面
        if ($(window).height() >= 800) {
            $("#left").css({
                top: ($(window).height() - $("#left").outerHeight()) / 2
            });
            $("#right").css({
                top: ($(window).height() - $("#right").outerHeight()) / 2
            });
        }
        else {
            $("#left").css({
                top: (800 - $("#left").outerHeight()) / 2
            });
            $("#right").css({
                top: (800 - $("#right").outerHeight()) / 2
            });
        }

    </script>
</body>
</html>