@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Glove Machine IoT</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <link href="~/Content/DH/lib/NProgress/nprogress.css" rel="stylesheet" />
    <link href="~/Content/DH/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/DH/css/mainUI.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Content/DH/img/favicon.ico" type="image/x-icon" />
    <script src="~/Content/DH/lib/NProgress/nprogress.js"></script>
</head>
<body>
    <!-- 头部区域 -->
    <header id="header" class="layui-header">
        <nav class="navbar navbar-glove navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header text-left">
                    @*<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav_list" aria-expanded="false">
                            <span class="sr-only">切换菜单</span>
                            <span class="icon-bar"></span><!--汉堡菜单方框里的横线-->
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>*@
                    <a class="navbar-brand topbar-left" href="#">
                        <span class="topbar-left__alignmen">
                            <img src="~/Content/DH/img/LOGO.png" height="60" width="60" alt="品牌LOGO">
                        </span>
                        <span class="topbar-left__font-size-l">金隆物联</span>
                    </a>
                </div>
                <div class="collapse navbar-collapse topbar-middle">
                    <ul class="nav navbar-nav topbar-middle text-left">
                        <li><i class="iconfont icon-telephone">&#xe62a;</i></li>
                        <li class="hidden-sm hidden-xs"><span class="topbar-middle__alignment">客服电话：400-12345678(9:00~21:00)</span></li>
                        <li><i class="iconfont icon-vline">&#xe63a;</i></li>
                        <li>
                            <span class="topbar-middle__link">
                                <span class="topbar-middle__alignment">微信小程序二维码</span>
                                <img src="~/Content/DH/img/c_06.jpg" height="140" width="124" alt="二维码">
                            </span>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="../Home/Home" class="layui-icon layui-icon-home"></a></li>
                        <li class="layui-nav-item-no"><i class="iconfont icon-vline">&#xe63a;</i></li>
                        <li><a href="../WarningInfo/Warningmanage" class="iconfont icon-vline">&#xe6f1;</a></li>
                        <li class="layui-nav-item-no"><i class="iconfont icon-vline">&#xe63a;</i></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle iconfont icon-user" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">&#xe638;<span class="caret"></span></a>
                            <ul class="dropdown-menu" style="min-width: 80px; text-align:center;">
                                <li><a href="../UserInfo/Userdetail">基本资料</a></li>
                                <li><a href="../UserInfo/Userpassword">修改密码</a></li>
                                <li><a id="logout">注销</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- 最小宽度时出现汉堡菜单-->
                @*<div class="collapse navbar-collapse" id="nav_list">
                        <ul class="nav navbar-nav">
                            <li class="hidden-lg hidden-md hidden-sm"><a href="#">设备管理</a></li>
                            <li class="hidden-lg hidden-md hidden-sm"><a href="#">班组管理</a></li>
                            <li class="hidden-lg hidden-md hidden-sm"><a href="#">报警处理</a></li>
                            <li class="hidden-lg hidden-md hidden-sm"><a href="#">系统管理</a></li>
                        </ul>
                    </div>*@
            </div>
        </nav>
    </header>
    <section id="aside" class="hidden-xs">
        <div class="aside-top">
            <div class="text-right col-xs-5" style="padding:0 5px 0 25px" id="tPicture"></div>
            <div class="aside-top__username col-xs-7" style="padding:0 25px 0 5px"><p name="userName" style="text-align:center;"></p></div>
        </div>
        <ul class="layui-nav layui-nav-tree layui-nav-side" lay-filter="sidebar" lay-shrink="">
            <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="iconfont icon-machine">&#xe6a3;</i>
                    <span style="font-size:18px;vertical-align: middle;padding-left:8px;">设备管理</span>
                    <span class="layui-nav-more"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="../Device/Devicemanage">设备工作情况</a></dd>
                    <dd><a href="../Device/UploadFile">设备文件更新</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="iconfont icon-class">&#xe64a;</i>
                    <span style="font-size:18px;vertical-align: middle;padding-left:8px;">班组管理</span>
                    <span class="layui-nav-more"></span>
                </a>
                <dl class="layui-nav-child">
                    @*<dd><a href="#">班组设置</a></dd>*@
                    <dd><a href="../TeamInfo/Classmanage">班号管理</a></dd>
                    <dd><a href="../GroupInfo/Groupmanage">组号管理</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="iconfont icon-alarm">&#xe6a8;</i>
                    <span style="font-size:18px;vertical-align: middle;padding-left:8px;">报警管理</span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="../WarningInfo/Warningmanage">当前报警</a></dd>
                    <dd><a href="../WarningInfo/Warninghistory">历史报警</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="iconfont icon-gear">&#xe65b;</i>
                    <span style="font-size:18px;vertical-align: middle;padding-left:8px;">系统管理</span>
                    <span class="layui-nav-more"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="../UserInfo/Usermanage">员工管理</a></dd>
                    <dd><a href="../RoleInfo/Userpower">角色权限管理</a></dd>
                    <dd><a href="../OperationLog/Operationlog">操作日志</a></dd>
                    <dd><a href="../UserInfo/Userdetail">个人资料</a></dd>
                    @*<dd><a href="#">数据字典</a></dd>
                        <dd><a href="#">用户管理</a></dd>*@
                </dl>
            </li>
        </ul>
    </section>
    <section id="aside" class="visible-xs-block">
        <ul class="layui-nav layui-nav-tree layui-nav-side" lay-filter="sidebar" lay-shrink="">
            <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="iconfont icon-machine">&#xe6a3;</i>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="../Device/Devicemanage">设备工作情况</a></dd>
                    <dd><a href="../Device/UploadFile">设备文件更新</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="iconfont icon-class">&#xe64a;</i>
                </a>
                <dl class="layui-nav-child">
                    @*<dd><a href="#">班组设置</a></dd>*@
                    <dd><a href="../TeamInfo/Classmanage">班号管理</a></dd>
                    <dd><a href="../GroupInfo/Groupmanage">组号管理</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="iconfont icon-alarm">&#xe6a8;</i>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="../WarningInfo/Warningmanage">当前报警</a></dd>
                    <dd><a href="../WarningInfo/Warninghistory">历史报警</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="iconfont icon-gear">&#xe65b;</i>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="../UserInfo/Usermanage">员工管理</a></dd>
                    <dd><a href="../RoleInfo/Userpower">角色权限管理</a></dd>
                    <dd><a href="../OperationLog/Operationlog">操作日志</a></dd>
                    <dd><a href="../UserInfo/Userdetail">个人资料</a></dd>
                    @*<dd><a href="#">数据字典</a></dd>
                        <dd><a href="#">用户管理</a></dd>*@
                </dl>
            </li>
        </ul>
    </section>
    <section id="main">
        <div class="navigation">
            <span class="layui-breadcrumb">
                <a>班组管理</a>
                <a href=""><cite>组号详情</cite></a>
            </span>
        </div>
        <!-- 该页面的主要内容 -->
        <div class="button">
            <h3>组号管理</h3>
            @*<button class="layui-btn layui-btn-normal col-xs-1" name="添加班号">
                <i class="iconfont icon-add">&#xe726;</i>
                添加班号
            </button>
            <button class="layui-btn layui-btn-danger col-xs-1" name="删除班号">
                <i class="iconfont icon-delete">&#xe62f;</i>
                删除班号
            </button>*@
            <!--
            <button class="layui-btn layui-btn-warm col-xs-1">
                <i class="iconfont icon-modify">&#xe6b8;</i>
                修改员工
            </button>
                -->
            @*<span class="col-xs-9"></span>
            <button class="layui-btn col-xs-1" name="查找班号">
                <i class="iconfont icon-seek">&#xe618;</i>
                查找班号
            </button>*@
        </div>
        <div class="table-left">
            <ul id="group-tree"></ul>
        </div>
        <div class="table-right">
            <div class="table-title">
                关联设备
            </div>
            <table id="table_group" lay-filter="table_group" lay-data="{id: 'idTest'}"></table>
        </div>

    </section>
    <!-- 底部固定区域 -->
    <footer id="footer">
        <p class="text-right">© 版权所有 © 绍兴金隆机械制造有限公司</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script src="~/Content/DH/lib/layui/layui.all.min.js"></script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit" name="编辑">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" name="删除">删除</a>
    </script>
    <script src="~/Content/DH/js/3.js"></script>
    <script>
        //更新左上角用户信息
        userMessage();
        layui.tree({
            elem: '#group-tree' //传入元素选择器
            , nodes: []
            //, nodes: [{ //节点
            //    name: '父节点1'
            //    , children: [{
            //        name: '子节点11'
            //    }, {
            //        name: '子节点12'
            //    }]
            //}, {
            //    name: '父节点2（可以点左侧箭头，也可以双击标题）'
            //    , children: [{
            //        name: '子节点21'
            //        , children: [{
            //            name: '子节点211'
            //        }]
            //    }]
            //}]
            , click: function (node) {
                console.log(node) //node即为当前点击的节点数据
            }
        });
        //删除layui-tree 自带的样式
        $("i.layui-tree-branch").remove();
        $("i.layui-tree-leaf").remove();
        $("ul#group-tree").append("<li id='group-f'>" +
            "<a href='javascript:;' onclick='doAction(0)'><cite>组号</cite> </a>" +
            "<i class='layui-icon layui-icon-add-1 hide tree-select'></i>" +
            "<i class='layui-icon layui-icon-delete hide tree-select'></i>" +
            "<i class='layui-icon layui-icon-edit hide tree-select'></i>" +
            "</li>");
        $.get("/GroupInfo/GetAllGroupInfos", {}, function (data) {
            for (var i = 0; i < data.group.length; i++) {
                //console.log(typeof data.group[i].Id);
                if ($('#group-f').children("ul").length == 0) {
                    //表示要新增   i 以及 ul 标签
                    $('#group-f').prepend('<i class="layui-icon layui-tree-spread"></i>');
                    $('#group-f').append("<ul class='layui-show'><li class=" + data.group[i].Id + "><a href='javascript:;' onclick='doAction(\"" + data.group[i].Id + "\")'><cite>" + data.group[i].DeviceGroupName +
                        "</cite></a><i class='layui-icon layui-icon-set hide tree-select'></i><i class='layui-icon layui-icon-delete hide tree-select'></i><i class='layui-icon layui-icon-edit hide tree-select'></i></ul>");
                } else {
                    $('#group-f').children("ul").append("<li class=" + data.group[i].Id + "><a href='javascript:;' onclick='doAction(\"" + data.group[i].Id + "\")'><cite>" + data.group[i].DeviceGroupName +
                        "</cite></a><i class='layui-icon layui-icon-set hide tree-select'></i><i class='layui-icon layui-icon-delete hide tree-select'></i><i class='layui-icon layui-icon-edit hide tree-select'></i></li>");
                }
            }
        })
        function doAction(Id) {
            //console.log(Id);
            //console.log(arguments);
            globalLimit = $(".layui-laypage-limits").find("option:selected").val() //获取分页数目
            updatatable('table_group', '#table_group', 550, '/GroupInfo/GetGroupDevices?id=' + Id, "组号关联设备", 1, 30);
        }
        //显示/隐藏 分类的操作栏
        $("ul#group-tree").on({
            mouseover: function (event) {
                event.stopPropagation();
                $(this).children(".tree-select").removeClass("hide");
            },
            mouseout: function (event) {
                event.stopPropagation();
                $(this).children(".tree-select").addClass("hide");
            },
        }, "li", "a")//li中都绑定事件
        //添加绑定设备
        $("ul#group-tree").on("click", "li .layui-icon-set", function () {
            var id = $(this).parent().attr('class');//获取点击组的ID
            window.location.href = '../GroupInfo/GroupAdddevice?Id=' + id;
        })
        //重命名 编辑
        $("ul#group-tree").on("click", "li .layui-icon-edit", function () {
            var node = $(this).parent().children("a").children("cite");
            var id = $(this).parent().attr('class');//获取点击组的ID
            layer.prompt({ title: '重命名', value: node.text(), formType: 0 }, function (text, index) {
                layer.close(index);
                layer.load(2);
                $.post("/GroupInfo/Edit", { Id: id, DeviceGroupName: text }, function (data) {
                    if (data === "OK") {
                        layer.closeAll("loading");
                        node.text(text);
                    }
                    else {
                        layui.use('layer', function () {
                            var layer = layui.layer;
                            layer.msg('<span style="font-size:18px;vertical-align:middle;line-height:76px;">组号已存在</span>', {
                                time: 2000,
                                area: ['200px', '100px'],
                                shade: 0.4,
                                shadeClose: true
                            });
                        });
                    }
                })
            });
            //$(".layui-layer-content").append("<input type='text' class='layui-layer-input'/>");//给弹窗添加行
        })
        //删除分类
        $("ul#group-tree").on("click", "li .layui-icon-delete", function () {
            var that = $(this).closest("li");
            var id = $(this).parent().attr('class');//获取点击组的ID
            if (that.children("ul").length > 0) {
                layer.msg("该分类下含有子分类不能删除")
                return;
            }
            layer.confirm('关联设备也会清空，确定删除？', {
                btn: ['删除', '取消']
            }, function (index) {
                //TODO 可以ajax到后台操作，这里只做模拟
                layer.load(2);
                $.post("/GroupInfo/Delete", { gIds: id }, function (data) {
                    if (data === "del ok") {
                        layer.closeAll("loading");
                        if ((that.parent("ul").children("li").length == 1) && (that.parent("ul").parent("li").children("i.layui-tree-spread").length = 1)) {
                            //要把分类名前的三角符号和ul标签删除
                            that.parent("ul").parent("li").children("i.layui-tree-spread").remove();
                        }
                        that.remove();
                        layer.close(index);
                    } else {
                        layui.use('layer', function () {
                            layer.closeAll("loading");
                            that.remove();
                            layer.close(index);
                            var layer = layui.layer;
                            layer.msg('<span style="font-size:18px;vertical-align:middle;line-height:76px;">删除失败</span>', {
                                time: 2000,
                                area: ['200px', '100px'],
                                shade: 0.4,
                                shadeClose: true
                            });
                        });
                    }
                })
            });
        })
        //添加子分类
        $("ul#group-tree ").on("click", "li .layui-icon-add-1", function () {
            var pid = $(this).closest("li").attr("id");//将父级类目的id作为父类id
            var that = $(this).closest("li");
            layer.prompt({ title: '输入子分类名称', formType: 0 }, function (text, index) {
                layer.close(index);
                layer.load(2);//加载进度条
                $.post("/GroupInfo/Add", { DeviceGroupName: text }, function (data) {
                    if (data === 'OK') {
                        layer.closeAll("loading");
                        if (that.children("ul").length == 0) {
                            //表示要新增   i 以及 ul 标签
                            that.prepend('<i class="layui-icon layui-tree-spread"></i>');
                            that.append("<ul class='layui-show'><li><a><cite>" + text + "</cite></a><i class='layui-icon layui-icon-set hide tree-select'></i><i class='layui-icon layui-icon-delete hide tree-select'></i><i class='layui-icon layui-icon-edit hide tree-select'></i></ul>");
                        } else {
                            that.children("ul").append("<li><a><cite>" + text + "</cite></a></i ><i class='layui-icon layui-icon-set hide tree-select'></i><i class='layui-icon layui-icon-delete hide tree-select'></i><i class='layui-icon layui-icon-edit hide tree-select'></i></li>");
                        }
                    }
                    else {
                        layer.closeAll("loading");
                        layui.use('layer', function () {
                            layer.closeAll("loading");
                            that.remove();
                            layer.close(index);
                            var layer = layui.layer;
                            layer.msg('<span style="font-size:18px;vertical-align:middle;line-height:76px;">添加失败</span>', {
                                time: 2000,
                                area: ['200px', '100px'],
                                shade: 0.4,
                                shadeClose: true
                            });
                        });
                    }
                })
            });
        })
        //添加顶级分类
        //$("#addcate").on("click", function () {
        //    layer.prompt({ title: '输入分类名称，并确认', formType: 0 }, function (text, index) {
        //        layer.close(index);
        //        //TODO 可以ajax到后台操作，这里只做模拟
        //        layer.load(2);
        //        setTimeout(function () {
        //            layer.closeAll("loading");
        //            $("ul#group-tree").append("<li>" +
        //                "<a ><cite>" + text + "</cite> </a>" +
        //                "<i class='layui-icon layui-icon-add-1 hide tree-select'></i>" +
        //                "<i class='layui-icon layui-icon-delete hide tree-select'></i>" +
        //                "<i class='layui-icon layui-icon-edit hide tree-select'></i>" +
        //                "</li>");
        //        }, 1000)
        //    });
        //})
        //打开/关闭菜单
        $("ul#group-tree").on({
            click: function (event) {
                event.stopPropagation();
                event.preventDefault();
                if ($(this).parent().children("ul").hasClass("layui-show")) {
                    $(this).html("");
                    $(this).parent().children("ul").removeClass("layui-show");
                    return;
                } else {
                    $(this).html("");
                    $(this).parent().children("ul").addClass("layui-show");
                    return;
                }
                return;
            }
        }, 'i.layui-tree-spread');
    </script>

</body>
</html>