@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    @*<meta http-equiv="Refresh" content="60">*@
    <!-- 上述3个meta标签标签为自动刷新 -->
    <title>Glove Machine IoT</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <link href="~/Content/DH/lib/NProgress/nprogress.css" rel="stylesheet" />
    <link href="~/Content/DH/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/DH/css/mainUI.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Content/DH/img/favicon.ico" type="image/x-icon" />
    <script src="~/Content/DH/lib/NProgress/nprogress.js"></script>
</head>
<body>
    <!-- 头部区域 -->
    <header id="header" class="layui-header">
        <nav class="navbar navbar-glove navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header text-left">
                    @*<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav_list" aria-expanded="false">
                            <span class="sr-only">切换菜单</span>
                            <span class="icon-bar"></span><!--汉堡菜单方框里的横线-->
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>*@
                    <a class="navbar-brand topbar-left" href="#">
                        <span class="topbar-left__alignmen">
                            <img src="~/Content/DH/img/LOGO.png" height="60" width="60" alt="品牌LOGO">
                        </span>
                        <span class="topbar-left__font-size-l">金隆物联</span>
                    </a>
                </div>
                <div class="collapse navbar-collapse topbar-middle">
                    <ul class="nav navbar-nav topbar-middle text-left">
                        <li><i class="iconfont icon-telephone">&#xe62a;</i></li>
                        <li class="hidden-sm hidden-xs"><span class="topbar-middle__alignment">客服电话：400-12345678(9:00~21:00)</span></li>
                        <li><i class="iconfont icon-vline">&#xe63a;</i></li>
                        <li>
                            <span class="topbar-middle__link">
                                <span class="topbar-middle__alignment">微信小程序二维码</span>
                                <img src="~/Content/DH/img/c_06.jpg" height="140" width="124" alt="二维码">
                            </span>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="../Home/Home" class="layui-icon layui-icon-home"></a></li>
                        <li class="layui-nav-item-no"><i class="iconfont icon-vline">&#xe63a;</i></li>
                        <li><a href="../WarningInfo/Warningmanage" id="wr" class="iconfont icon-vline">&#xe6f1;</a></li>
                        <li class="layui-nav-item-no"><i class="iconfont icon-vline">&#xe63a;</i></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle iconfont icon-user" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">&#xe638;<span class="caret"></span></a>
                            <ul class="dropdown-menu" style="min-width: 80px; text-align:center;">
                                <li><a href="../UserInfo/Userdetail">基本资料</a></li>
                                <li><a href="../UserInfo/Userpassword">修改密码</a></li>
                                <li><a id="logout">注销</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- 最小宽度时出现汉堡菜单-->
                @*<div class="collapse navbar-collapse" id="nav_list">
                        <ul class="nav navbar-nav">
                            <li class="hidden-lg hidden-md hidden-sm"><a href="#">设备管理</a></li>
                            <li class="hidden-lg hidden-md hidden-sm"><a href="#">班组管理</a></li>
                            <li class="hidden-lg hidden-md hidden-sm"><a href="#">报警处理</a></li>
                            <li class="hidden-lg hidden-md hidden-sm"><a href="#">系统管理</a></li>
                        </ul>
                    </div>*@
            </div>
        </nav>
    </header>
    <section id="aside" class="hidden-xs">
        <div class="aside-top">
            <div class="text-right col-xs-5" style="padding:0 5px 0 25px" id="tPicture"></div>
            <div class="aside-top__username col-xs-7" style="padding:0 25px 0 5px"><p name="userName" style="text-align:center;"></p></div>
        </div>
        <ul class="layui-nav layui-nav-tree layui-nav-side" lay-filter="sidebar" lay-shrink="">
            <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="iconfont icon-machine">&#xe6a3;</i>
                    <span style="font-size:18px;vertical-align: middle;padding-left:8px;">设备管理</span>
                    <span class="layui-nav-more"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="../Device/Devicemanage">设备工作情况</a></dd>
                    <dd><a href="../Device/DeviceOutputs">设备产量情况</a></dd>
                    <dd><a href="../Device/UploadFile">设备文件更新</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="iconfont icon-class">&#xe64a;</i>
                    <span style="font-size:18px;vertical-align: middle;padding-left:8px;">班组管理</span>
                    <span class="layui-nav-more"></span>
                </a>
                <dl class="layui-nav-child">
                    @*<dd><a href="#">班组设置</a></dd>*@
                    <dd><a href="../TeamInfo/Classmanage">班号管理</a></dd>
                    <dd><a href="../GroupInfo/Groupmanage">组号管理</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="iconfont icon-alarm">&#xe6a8;</i>
                    <span style="font-size:18px;vertical-align: middle;padding-left:8px;">报警管理</span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="../WarningInfo/Warningmanage">当前报警</a></dd>
                    <dd><a href="../WarningInfo/Warninghistory">历史报警</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="iconfont icon-gear">&#xe65b;</i>
                    <span style="font-size:18px;vertical-align: middle;padding-left:8px;">系统管理</span>
                    <span class="layui-nav-more"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="../UserInfo/Usermanage">员工管理</a></dd>
                    <dd><a href="../RoleInfo/Userpower">角色权限管理</a></dd>
                    <dd><a href="../OperationLog/Operationlog">操作日志</a></dd>
                    <dd><a href="../UserInfo/Userdetail">个人资料</a></dd>
                    @*<dd><a href="#">数据字典</a></dd>
                        <dd><a href="#">用户管理</a></dd>*@
                </dl>
            </li>
        </ul>
    </section>
    <section id="aside" class="visible-xs-block">
        <ul class="layui-nav layui-nav-tree layui-nav-side" lay-filter="sidebar" lay-shrink="">
            <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="iconfont icon-machine">&#xe6a3;</i>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="../Device/Devicemanage">设备工作情况</a></dd>
                    <dd><a href="../Device/DeviceOutputs">设备产量情况</a></dd>
                    <dd><a href="../Device/UploadFile">设备文件更新</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="iconfont icon-class">&#xe64a;</i>
                </a>
                <dl class="layui-nav-child">
                    @*<dd><a href="#">班组设置</a></dd>*@
                    <dd><a href="../TeamInfo/Classmanage">班号管理</a></dd>
                    <dd><a href="../GroupInfo/Groupmanage">组号管理</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="iconfont icon-alarm">&#xe6a8;</i>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="../WarningInfo/Warningmanage">当前报警</a></dd>
                    <dd><a href="../WarningInfo/Warninghistory">历史报警</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="iconfont icon-gear">&#xe65b;</i>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="../UserInfo/Usermanage">员工管理</a></dd>
                    <dd><a href="../RoleInfo/Userpower">角色权限管理</a></dd>
                    <dd><a href="../OperationLog/Operationlog">操作日志</a></dd>
                    <dd><a href="../UserInfo/Userdetail">个人资料</a></dd>
                    @*<dd><a href="#">数据字典</a></dd>
                        <dd><a href="#">用户管理</a></dd>*@
                </dl>
            </li>
        </ul>
    </section>
    <section id="main">
        <div class="navigation">
            <span class="layui-breadcrumb">
                <a href="../Home/Home"><cite>首页</cite></a>
            </span>
        </div>
        <div class="home hide">
            <div class="left">
                <div class="left-top">
                    <div class="content">
                        <p>运行设备</p>
                    </div>
                    <div id="left-top-pie"></div>
                </div>
                <div class="left-buttom">
                    <div class="content">
                        <p>员工数目</p>
                    </div>
                    <div id="left-buttom-pie"></div>
                </div>

            </div>

            <div class="middle">
                <p>智能手套机</p>
                <div id="glove-total"></div>
            </div>
        </div>
    </section>

    <!-- 底部固定区域 -->
    <footer id="footer">
        <p class="text-right">© 版权所有 © 绍兴金隆机械制造有限公司</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script src="~/Content/DH/lib/layui/layui.all.min.js"></script>
    <script src="~/Content/DH/lib/echarts/echarts.min.js"></script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit" name="编辑">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" name="删除">删除</a>
    </script>
    <script src="~/Content/DH/js/3.js"></script>
    <script>
        //更新左上角用户信息
        userMessage();
        resizeEle();
        $('.home').removeClass('hide');
        $(window).resize(function () { resizeEle(); });//换屏自适应
        //内容自适应窗口大小
        function resizeEle() {
            //var windowWidth = window.screen.width - 200;
            var windowHeight = window.screen.height - 260;
            //$('.home').css("width", (windowWidth + "px"));
            $('.home').css("height", (windowHeight + "px"));
        }

        

        //基于准备好的dom,初始化echarts实例
        var myChart2 = echarts.init(document.getElementById("left-top-pie"));
        //指定图标的配置项和数据
        option2 = {
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                x: 'left',
                data: ['运行','报警', '其他']
            },
            color: [ 'green', '#D22', 'gray'],
            series: [
                {
                    name: '设备状态',
                    type: 'pie',
                    radius: ['50%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '30',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data: [
                        { value: '0', name: '运行' },
                        { value: '0', name: '报警' },
                        { value: '0', name: '其他' }
                        
                    ]
                }
            ]
        };
        myChart2.setOption(option2);
        


        var myChart3 = echarts.init(document.getElementById("left-buttom-pie"));
        //指定图标的配置项和数据
        option = {
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                x: 'left',
                data: ['在岗', '非在岗']
            },
            color: ['#D22','green'],
            series: [
                {
                    name: '员工状态',
                    type: 'pie',
                    radius: ['50%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '30',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data: [
                        { value: '0', name: '非在岗' },
                        { value: '0', name: '在岗' }
                    ]
                }
            ]
        };
        myChart3.setOption(option);

        //基于准备好的dom,初始化echarts实例
        var myChart1 = echarts.init(document.getElementById("glove-total"));
        //指定图标的配置项和数据

        option1 = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    crossStyle: {
                        color: '#666'
                    }
                }
            },
            toolbox: {
                feature: {
                    magicType: { show: true, type: ['line', 'bar'] },
                    saveAsImage: { show: true }
                }
            },
            legend: {
                data: ['总产量']
            },
            xAxis: [
                {
                    type: 'category',
                    name: '日期',
                    data: ['1','2','3','4','5','6','7'],
                    axisPointer: {
                        type: 'shadow'
                    }
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    name: '只',
                    min: 0,
                    max: 0,
                    interval: 0,
                    axisLabel: {
                        formatter: '{value} '
                    }
                }
            ],
            series: [
                {
                    name: '总产量',
                    type: 'bar',
                    label: {
                        normal: {
                            show: true,
                            position: 'top'
                        }
                    },
                    data: ['0','0','0','0','0','0','0']
                }
            ]
        };
        myChart1.setOption(option1);



        //配置echarts数据

        function updataEcharts() {
            $.get('/Home/GetSummation', {}, function (data) {
                console.log(data);


                var AllDeviceCount = JSON.stringify(data.AllDeviceCount);
                var RuningDeviceCount = JSON.stringify(data.RuningDeviceCount);
                var WarningNum = JSON.stringify(data.WarningNum);
                var unRuningDeviceCount = AllDeviceCount - RuningDeviceCount - WarningNum;
                

                if (WarningNum !== '0') {
                    $("#wr").addClass("red");
                } else {
                    $("#wr").removeClass("red");
                }
                //指定图标的配置项和数据
                option2 = {
                    series: [
                        {
                            data: [
                                { value: RuningDeviceCount, name: '运行'},
                                { value: WarningNum, name: '报警' },
                                { value: unRuningDeviceCount, name: '其他' }
                            ]
                        }
                    ]
                };
                myChart2.setOption(option2);


                var OnworkUserCount = data.OnworkUserCount;
                var AllUseCountr = data.AllUseCountr;
                var unworkUserCount = AllUseCountr - OnworkUserCount;
                //更新图标的配置项和数据
                option = {
                    series: [
                        {
                            data: [
                                { value: unworkUserCount, name: '非在岗' },
                                { value: OnworkUserCount, name: '在岗' }
                            ]
                        }
                    ]
                };
                myChart3.setOption(option);



                var EachDay = new Array();//取得每天的日期
                var SumOutput = new Array();//取得每天的产量

                for (var i = 0; i < data.WeekEachDayOutput.length; i++) {     //data.WeekEachDayOutput.length
                    EachDay[i] = data.WeekEachDayOutput[i].Date;
                }

                for (var i = 0; i < data.WeekEachDayOutput.length; i++) {     //data.WeekEachDayOutput.length
                    EachDay[i] = (eval(EachDay[i].replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("M-d");
                    SumOutput[i] = data.WeekEachDayOutput[i].SumOutput;
                }

                if (data.WeekEachDayOutput.length == 1) {

                    EachDay[6] = data.WeekEachDayOutput[0].Date;
                    EachDay[6] = (eval(EachDay[6].replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("M-d");
                    for (var i = 0; i < 6; i++) {
                        EachDay[i] = 0;
                    }
                    SumOutput[6] = data.WeekEachDayOutput[0].SumOutput;

                    for (var i = 0; i < 6; i++) {
                        SumOutput[i] = 0;
                    }

                }
                
                

                //求出最大产量
                var MaxOutput = Math.max.apply(null, SumOutput);
                var MaxX = Math.round(MaxOutput / 1000) * 1000;   //取整至千位
                var EachX = MaxX / 5;


                //更新图标的配置项和数据
                option1 = {
                    xAxis: [
                        {
                            data: EachDay
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: '只',
                            min: 0,
                            max: MaxX,
                            interval: EachX,
                            axisLabel: {
                                formatter: '{value} '
                            }
                        }
                    ],
                    series: [
                        {
                            data: SumOutput
                        }
                    ]
                };
                myChart1.setOption(option1);

            })

        }

        updataEcharts();

        setInterval('updataEcharts()', 30000);

        //建议加上以下这一行代码，缩放时自动调整echart大小
        window.addEventListener('resize', function () { myChart1.resize() });
        window.addEventListener('resize', function () { myChart2.resize() });
        window.addEventListener('resize', function () { myChart3.resize() });
    </script>

</body>
</html>