@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Glove Machine IoT</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <link href="~/Content/DH/lib/NProgress/nprogress.css" rel="stylesheet" />
    <link href="~/Content/DH/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/DH/css/mainUI.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Content/DH/img/favicon.ico" type="image/x-icon" />
    <style>
        .layui-form-label {
            width: 100px; /*左边的字*/
        }

        .layui-form-checkbox[lay-skin="primary"] i {
            width: 20px;
            height: 20px;
            font-size: 16px; /*打钩的大小*/
        }

        .layui-form-checkbox span {
            font-size: 16px; /*字体大小*/
        }

        .layui-form-checkbox[lay-skin="primary"] span {
            line-height: 18px;
        }
    </style>
    <script src="~/Content/DH/lib/NProgress/nprogress.js"></script>
</head>
<body>
    <!-- 头部区域 -->
    <header id="header" class="layui-header">
        <nav class="navbar navbar-glove navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header text-left">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav_list" aria-expanded="false">
                        <span class="sr-only">切换菜单</span>
                        <span class="icon-bar"></span><!--汉堡菜单方框里的横线-->
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand topbar-left" href="#">
                        <span class="topbar-left__alignmen">
                            <img src="~/Content/DH/img/LOGO.png" height="60" width="60" alt="品牌LOGO">
                        </span>
                        <span class="topbar-left__font-size-l">金隆物联</span>
                    </a>
                </div>
                <div class="collapse navbar-collapse topbar-middle">
                    <ul class="nav navbar-nav topbar-middle text-left">
                        <li><i class="iconfont icon-telephone">&#xe62a;</i></li>
                        <li class="hidden-sm"><span class="topbar-middle__alignment">客服电话：400-12345678(9:00~21:00)</span></li>
                        <li><i class="iconfont icon-vline">&#xe63a;</i></li>
                        <li>
                            <span class="topbar-middle__link">
                                <span class="topbar-middle__alignment">微信小程序二维码</span>
                                <img src="~/Content/DH/img/c_06.jpg" height="140" width="124" alt="二维码">
                            </span>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right topbar-right">
                        <li><i class="iconfont icon-bell">&#xe6f1;</i></li>
                        <li><i class="iconfont icon-vline">&#xe63a;</i></li>
                        <li><i class="iconfont icon-user">&#xe638;</i></li>
                    </ul>
                </div>
                <!-- 最小宽度时出现汉堡菜单-->
                <div class="collapse navbar-collapse" id="nav_list">
                    <ul class="nav navbar-nav">
                        <li class="hidden-lg hidden-md hidden-sm"><a href="#">设备管理</a></li>
                        <li class="hidden-lg hidden-md hidden-sm"><a href="#">班组管理</a></li>
                        <li class="hidden-lg hidden-md hidden-sm"><a href="#">报警处理</a></li>
                        <li class="hidden-lg hidden-md hidden-sm"><a href="#">系统管理</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section id="aside" class="hidden-xs">
        <div class="aside-top">
            <div class="text-right col-xs-5"><i class="iconfont icon-aside-top-user">&#xe638;</i></div>
            <div class="aside-top__username col-xs-7">张三</div>
        </div>
        <ul class="layui-nav layui-nav-tree layui-nav-side" lay-filter="sidebar" lay-shrink="">
            <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
            <li class="layui-nav-item">
                <a href="javascript:;">
                    设备管理
                    <span class="layui-nav-more"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="../Device/Devicemanage">设备工作情况</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    班组管理
                    <span class="layui-nav-more"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="#">班组设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    报警处理
                </a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    系统管理
                    <span class="layui-nav-more"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="../UserInfo/Usermanage">员工管理</a></dd>
                    <dd><a href="Userpower">角色权限管理</a></dd>
                    <dd><a href="#">操作日志</a></dd>
                    <dd><a href="#">数据字典</a></dd>
                    <dd><a href="#">用户管理</a></dd>
                </dl>
            </li>
        </ul>
    </section>
    <section id="main">
        <div class="navigation">
            <span class="layui-breadcrumb">
                <a>系统管理</a>
                <a href=""><cite>角色权限管理</cite></a>
            </span>
        </div>
        <!-- 该页面的主要内容 -->
        <div class="layui-container select">
            <div class="layui-row">
                <div class="layui-col-md6 layui-col-md-offset3">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <select lay-filter="table_power_save" name="RoleName" lay-verify="required">
                                <option value="">请选择一个角色类型</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="layui-col-md2 layui-col-md-offset1" style="text-align:center">
                    <button name="保存权限" class="layui-btn layui-btn-normal" style="width:60%;">保存</button>
                </div>
            </div>
        </div>
        <div class="table">
            <table class="layui-table layui-form" lay-size="lg">
                <colgroup>
                    <col width="250">
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th style="font-size: 26px;">权限分配</th>
                        <th></th>
                    </tr>
                </thead>
                    <tbody>
                        <tr>
                            <td><input lay-filter="table_power_alldevice" type="checkbox" name="alldevice" title="设备管理" lay-skin="primary"></td>
                            <td>
                                <input lay-filter="table_power_device" type="checkbox" name="device" title="查看设备" lay-skin="primary">
                                <input lay-filter="table_power_device" type="checkbox" name="device" title="删除设备" lay-skin="primary">
                                <input lay-filter="table_power_device" type="checkbox" name="device" title="添加设备" lay-skin="primary">
                                <input lay-filter="table_power_device" type="checkbox" name="device" title="查找设备" lay-skin="primary">
                            </td>
                        </tr>
                        <tr>
                            <td><input lay-filter="table_power_allpeople" type="checkbox" name="allpeople" title="人员管理" lay-skin="primary"></td>
                            <td>
                                <input lay-filter="table_power_people" type="checkbox" name="people" title="人员查看" lay-skin="primary">
                                <input lay-filter="table_power_people" type="checkbox" name="people" title="人员删除" lay-skin="primary">
                            </td>
                        </tr>
                        <tr>
                            <td><input lay-filter="table_power_allalarm" type="checkbox" name="allalarm" title="报警管理" lay-skin="primary"></td>
                            <td>
                                <input lay-filter="table_power_alarm" type="checkbox" name="alarm" title="报警查看" lay-skin="primary">
                                <input lay-filter="table_power_alarm" type="checkbox" name="alarm" title="报警删除" lay-skin="primary">
                            </td>
                        </tr>
                        <tr>
                            <td><input lay-filter="table_power_alluser" type="checkbox" name="alluser" title="系统管理" lay-skin="primary"></td>
                            <td>
                                <input lay-filter="table_power_user" type="checkbox" name="user" title="编辑员工" lay-skin="primary">
                                <input lay-filter="table_power_user" type="checkbox" name="user" title="删除员工" lay-skin="primary">
                                <input lay-filter="table_power_user" type="checkbox" name="user" title="添加员工" lay-skin="primary">
                                <input lay-filter="table_power_user" type="checkbox" name="user" title="查找员工" lay-skin="primary">
                            </td>
                        </tr>
                    </tbody>
            </table>
        </div>
    </section>
    <!-- 底部固定区域 -->
    <footer id="footer">
        <p class="text-right">© 版权所有 © 绍兴金隆机械制造有限公司</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/DH/lib/layui/layui.all.min.js"></script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script src="~/Content/DH/js/3.js"></script>
    <script>
        //保存按钮
        $("button[name='保存权限']").click(function () {
            $.get("/UserInfo/GetAllRoles", function (data) { 
                var Role = $("select[name='RoleName']").find('option');
                var Role_selected;
                if (Role[0].selected === true) {
                    layui.use('layer', function () {//未选择角色类型 弹出框提示
                        var layer = layui.layer;
                        layer.msg('<span style = "font-size: 16px; line-height:90px; vertical-align:middle;">请选择一个角色类型</span>', {
                            time: 2500,
                            area: ['200px', '120px']
                        });
                    });
                    return false;
                }
                for (var i = 1; i < Role.length; i++) {
                    if (Role[i].selected === true) {
                        for (var j = 0; j < data.length; j++) {
                            if (Role[i].value === data[j].RoleName) {
                                Role_selected = data[j].Id;   
                            }
                        }
                    }
                }
                var checkbox = $("input[type='checkbox']");
                var checkboxed = '';
                for (var i = 0; i < checkbox.length; i++) {
                    if (checkbox[i].checked === true) {
                        switch (checkbox[i].title) {
                            case '查看设备':
                                checkboxed += '查看设备,';
                                break;
                            case '删除设备':
                                checkboxed += '删除设备,';
                                break;
                            case '添加设备':
                                checkboxed += '添加设备,';
                                break;
                            case '查找设备':
                                checkboxed += '查找设备,';
                                break;
                            case '人员查看':
                                checkboxed += '人员查看,';
                                break;
                            case '人员删除':
                                checkboxed += '人员删除,';
                                break;
                            case '报警查看':
                                checkboxed += '报警查看,';
                                break;
                            case '报警删除':
                                checkboxed += '报警删除,';
                                break;
                            case '编辑员工':
                                checkboxed += '编辑员工,';
                                break;
                            case '删除员工':
                                checkboxed += '删除员工,';
                                break;
                            case '添加员工':
                                checkboxed += '添加员工,';
                                break;
                            case '查找员工':
                                checkboxed += '查找员工,';
                                break;
                        }
                    }
                }
                checkboxed = checkboxed.slice(0, delId.length - 1);//去除最后的逗号
                data_send = Role_selected + ',' + checkboxed;
                console.log('data_send:' + data_send);
                $.get("/RoleInfo/SetActions?Data=" + data_send);//将保存信息发送给后台
                layui.use('layer', function () {//保存成功 弹出框提示
                    var layer = layui.layer;
                    layer.msg('<span style = "font-size: 20px; line-height:90px; vertical-align:middle;">保存成功</span>', {
                        time: 2000,
                        area: ['200px', '120px']
                    });
                });
            });   
        });
        //动态加载角色类型
        getRolename();
        //全选、反选操作
        layui.use('form', function () {
            var form = layui.form;
            //获取下拉框
            form.on('select(table_power_save)', function (data) {
                console.log(data.value); //得到被选中的值
                $("input").prop("checked", false);//复选框全部清空
                $.get("/UserInfo/GetAllRoles", function (data_role) {//获取RoleId
                    for (var i = 0; i < data_role.length; i++) {
                        if (data.value === data_role[i].RoleName) {
                            $.get("/RoleInfo/GetExitsActions?RId=" + data_role[i].Id, function (data_power) {
                                console.log(data_power);
                                for (var i = 0; i < data_power.length; i++) {
                                    switch (data_power[i]) {
                                        case '查看设备':
                                            $("input[title='查看设备']").prop("checked", true);
                                            break;
                                        case '删除设备':
                                            $("input[title='删除设备']").prop("checked", true);
                                            break;
                                        case '添加设备':
                                            $("input[title='添加设备']").prop("checked", true);
                                            break;
                                        case '查找设备':
                                            $("input[title='查找设备']").prop("checked", true);
                                            break;
                                        case '人员查看':
                                            $("input[title='人员查看']").prop("checked", true);
                                            break;
                                        case '人员删除':
                                            $("input[title='人员删除']").prop("checked", true);
                                            break;
                                        case '报警查看':
                                            $("input[title='报警查看']").prop("checked", true);
                                            break;
                                        case '报警删除':
                                            $("input[title='报警删除']").prop("checked", true);
                                            break;
                                        case '编辑员工':
                                            $("input[title='编辑员工']").prop("checked", true);
                                            break;
                                        case '删除员工':
                                            $("input[title='删除员工']").prop("checked", true);
                                            break;
                                        case '添加员工':
                                            $("input[title='添加员工']").prop("checked", true);
                                            break;
                                        case '查找员工':
                                            $("input[title='查找员工']").prop("checked", true);
                                            break;
                                    }
                                }
                                //判断是否全选  
                                var device = $("input[name='device']");
                                var all_device = 0;
                                for (var i = 0; i < device.length; i++) {
                                    if (device[i].checked === true)
                                        all_device++;
                                }
                                if (all_device === device.length) {
                                    $("input[name='alldevice']").prop("checked", true);
                                }
                                var people = $("input[name='people']");
                                var all_people = 0;
                                for (var i = 0; i < people.length; i++) {
                                    if (people[i].checked === true)
                                        all_people++;
                                }
                                if (all_people === people.length) {
                                    $("input[name='allpeople']").prop("checked", true);
                                }
                                var alarm = $("input[name='alarm']");
                                var all_alarm = 0;
                                for (var i = 0; i < alarm.length; i++) {
                                    if (alarm[i].checked === true)
                                        all_alarm++;
                                }
                                if (all_alarm === alarm.length) {
                                    $("input[name='allalarm']").prop("checked", true);
                                }
                                var user = $("input[name='user']");
                                var all_user = 0;
                                for (var i = 0; i < user.length; i++) {
                                    if (user[i].checked === true)
                                        all_user++;
                                }
                                if (all_user === user.length) {
                                    $("input[name='alluser']").prop("checked", true);
                                }
                                form.render('checkbox');
                            })
                        }
                    }
                })

            });
            form.on('checkbox(table_power_alldevice)', function (data) {
                //console.log(data.elem.name); //得到checkbox原始DOM对象
                //console.log(data.elem.checked); //是否被选中，true或者false
                //console.log(data.value); //复选框value值，也可以通过data.elem.value得到
                //console.log(data.othis); //得到美化后的DOM对象
                if (data.elem.checked === true) {
                    var device = $("input[name='device']");
                    $("input[name='device']").prop("checked", true);//不能使用attr添加属性
                    form.render('checkbox');
                }
                else {
                    var device = $("input[name='device']");
                    $("input[name='device']").prop("checked", false);
                    form.render('checkbox');
                }
            });
            form.on('checkbox(table_power_device)', function (data) {
                if (data.elem.checked === true) {
                    var device = $("input[name='device']");
                    var all = 0;
                    for (var i = 0; i < device.length; i++) {
                        if (device[i].checked === true)
                            all++;
                    }
                    if (all === device.length) {
                        $("input[name='alldevice']").prop("checked", true);
                        form.render('checkbox');
                    }
                }
                else {
                    $("input[name='alldevice']").prop("checked", false);
                    form.render('checkbox');
                }
            });
            form.on('checkbox(table_power_allpeople)', function (data) {
                //console.log(data.elem.name); //得到checkbox原始DOM对象
                //console.log(data.elem.checked); //是否被选中，true或者false
                //console.log(data.value); //复选框value值，也可以通过data.elem.value得到
                //console.log(data.othis); //得到美化后的DOM对象
                if (data.elem.checked === true) {
                    var device = $("input[name='people']");
                    $("input[name='people']").prop("checked", true);//不能使用attr添加属性
                    form.render('checkbox');
                }
                else {
                    var device = $("input[name='people']");
                    $("input[name='people']").prop("checked", false);
                    form.render('checkbox');
                }
            });
            form.on('checkbox(table_power_people)', function (data) {
                if (data.elem.checked === true) {
                    var device = $("input[name='people']");
                    var all = 0;
                    for (var i = 0; i < device.length; i++) {
                        if (device[i].checked === true)
                            all++;
                    }
                    if (all === device.length) {
                        $("input[name='allpeople']").prop("checked", true);
                        form.render('checkbox');
                    }
                }
                else {
                    $("input[name='allpeople']").prop("checked", false);
                    form.render('checkbox');
                }
            });
            form.on('checkbox(table_power_allalarm)', function (data) {
                //console.log(data.elem.name); //得到checkbox原始DOM对象
                //console.log(data.elem.checked); //是否被选中，true或者false
                //console.log(data.value); //复选框value值，也可以通过data.elem.value得到
                //console.log(data.othis); //得到美化后的DOM对象
                if (data.elem.checked === true) {
                    var device = $("input[name='alarm']");
                    $("input[name='alarm']").prop("checked", true);//不能使用attr添加属性
                    form.render('checkbox');
                }
                else {
                    var device = $("input[name='alarm']");
                    $("input[name='alarm']").prop("checked", false);
                    form.render('checkbox');
                }
            });
            form.on('checkbox(table_power_alarm)', function (data) {
                if (data.elem.checked === true) {
                    var device = $("input[name='alarm']");
                    var all = 0;
                    for (var i = 0; i < device.length; i++) {
                        if (device[i].checked === true)
                            all++;
                    }
                    if (all === device.length) {
                        $("input[name='allalarm']").prop("checked", true);
                        form.render('checkbox');
                    }
                }
                else {
                    $("input[name='allalarm']").prop("checked", false);
                    form.render('checkbox');
                }
            });
            form.on('checkbox(table_power_alluser)', function (data) {
                //console.log(data.elem.name); //得到checkbox原始DOM对象
                //console.log(data.elem.checked); //是否被选中，true或者false
                //console.log(data.value); //复选框value值，也可以通过data.elem.value得到
                //console.log(data.othis); //得到美化后的DOM对象
                if (data.elem.checked === true) {
                    var device = $("input[name='user']");
                    $("input[name='user']").prop("checked", true);//不能使用attr添加属性
                    form.render('checkbox');
                }
                else {
                    var device = $("input[name='user']");
                    $("input[name='user']").prop("checked", false);
                    form.render('checkbox');
                }
            });
            form.on('checkbox(table_power_user)', function (data) {
                if (data.elem.checked === true) {
                    var device = $("input[name='user']");
                    var all = 0;
                    for (var i = 0; i < device.length; i++) {
                        if (device[i].checked === true)
                            all++;
                    }
                    if (all === device.length) {
                        $("input[name='alluser']").prop("checked", true);
                        form.render('checkbox');
                    }
                }
                else {
                    $("input[name='alluser']").prop("checked", false);
                    form.render('checkbox');
                }
            });
        });
    </script>
</body>
</html>