@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bill Gates</title>
    <link href="~/Content/DH/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
 
    <link rel="stylesheet" type="text/css" href="text.css">
</head>
<body>
    <div class="container">
        <!--bootstrap 栅格系统要包含的容器-->
        <div class="jumbotron">
            <!--大屏幕背景 图中灰色背景-->
            <div class="row">
                <!--bootstrap 栅格系统打头-->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <!--bootstrap 栅格系统排版-->
                    <h1 class="text-center">Bill Gates</h1>
                    <h2 class="text-center"><em>The father of Microsoft</em></h2>
                    <div class="thumbnail">
                        <!--缩略图-->
                        <img src="https://s1.ax1x.com/2018/09/15/iVKeTP.jpg">
                        <h3 class="caption text-center">Steve Jobs and Gates at the fifth D: All Things Digital conference (D5) in 2007</h3>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <h3>Here's a time line of Bill gates' life:</h3>
                        <ul>
                            <li>1955 - born in an American business magnate</li>
                            <li>1975 - Gates and Paul Allen launched Microsoft, which became the world's largest PC software company</li>
                            <li>1987 - Gates has been included in the Forbes list of the world's wealthiest people, an index of the wealthiest documented individuals, excluding and ranking against those with wealth that is not able to be completely ascertained</li>
                            <li>2000 - Gates led the company as chief executive officer until stepping down</li>
                            <li>2006 - Gates announced that he would be transitioning from full-time work at Microsoft to part-time work and full-time work at the Bill & Melinda Gates Foundation</li>
                            <li>2009 - Gates pursued a number of philanthropic endeavors. He donated large amounts of money to various charitable organizations and scientific research programs through the Bill & Melinda Gates Foundation</li>
                            <li>2014 - He stepped down as chairman of Microsoft and assumed a new post as technology adviser to support the newly appointed CEO Satya Nadella</li>
                            <li>2017 - he has been surpassed by Amazon founder and CEO Jeff Bezos, who had an estimated net worth of US$90.6 billion at the time</li>
                            <li>2018 - Gates had a net worth of $95.4 billion, making him the second-richest person in the world, behind Bezos</li>
                            <blockquote>
                                <h3 style="color:#C4C4C4">"Life is not fair, get used to it.Life is not fair, get used to it.Life is not fair, get used to it."</h3>
                                <footer><cite title="BG">Bill Gates</cite></footer>
                            </blockquote>
                            <h3 class="text-center">If you have time, you should read more about this incredible human being on his <a href="https://en.wikipedia.org/wiki/Bill_Gates">Wikipedia entry</a>.</h3>
                    </div>
                </div>
            </div>
        </div>
        <footer class="text-center">
            <hr />
            <p>Written and coded by <strong>DH</strong></p>
        </footer>
    </div>
</body>
</html>