@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Glove Machine IoT</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <link href="~/Content/DH/lib/NProgress/nprogress.css" rel="stylesheet" />
    <link href="~/Content/DH/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/DH/css/mainUI.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Content/DH/img/favicon.ico" type="image/x-icon" />
    <style>
        .style {
            position: absolute;
            left: 0px;
            top: 0px;
            height:400px;
            width:400px;
        }
    </style>
    <script src="~/Content/DH/lib/NProgress/nprogress.js"></script>
</head>
<body>
    @*<div id="main" style="width: 600px;height:400px;"></div>*@

    <form class="container" enctype="multipart/form-data" method="post" id='formBox' name="form">
        <input type="file" id="chooseImage" name="file">
        <!-- 保存用户自定义的背景图片 -->
        <img id="cropedBigImg" width="50" height="50" value='custom' alt="lorem ipsum dolor sit" data-address='' title="自定义背景" />
    </form>

    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/DH/lib/layui/layui.all.min.js"></script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs a_disabled layui-btn-disabled a_disabled layui-btn-disabled" lay-event="detail" name="查看">查看</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs a_disabled layui-btn-disabled" lay-event="del" name="删除">删除</a>
    </script>
    <script src="~/Content/DH/lib/echarts/echarts.js"></script>
    <script src="~/Content/DH/js/3.js"></script>
    <script type="text/javascript">
        $('#chooseImage').on('change', function () {
            var filePath = $(this).val(),         //获取到input的value，里面是文件的路径
                fileFormat = filePath.substring(filePath.lastIndexOf(".")).toLowerCase(),
                src = window.URL.createObjectURL(this.files[0]); //转成可以在本地预览的格式

            // 检查是否是图片
            if (!fileFormat.match(/.png|.jpg|.jpeg/)) {
                //error_prompt_alert('上传错误,文件格式必须为：png/jpg/jpeg');
                alert(222);
                return;
            }

            $('#cropedBigImg').attr('src', src);
        });
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: 'ECharts 入门示例'
            },
            tooltip: {},
            legend: {
                data: ['销量']
            },
            xAxis: {
                data: ["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"]
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                data: [5, 20, 36, 10, 10, 20]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</body>
</html>